*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body 
  {
    min-height: 100vh;
    background-color: #fafbfc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .banner
  {
    background-image: url("imagens/banner2.png");
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    box-shadow: inset 0px -5px 200px 50px#000;
  }

  .navbar
  {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #2f683e;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    z-index: 200;
    
  }
  
  .logo
  {
    height: 50px;
  }
  
  .header h1
  {
    font-size: 35px;
    position: absolute;
    justify-content: space-around;
    display: inline-block;
    align-items: center;
    transform: translateY(10px);
    padding-left:30px;
    
  }
  
 .nav-list
  {
    list-style-type: none;
  }
  
  .nav-list .list-item
  {
    display: inline-block;
    padding: 20px 10px;
  }
  
  .navbar a
  {
    color:#fff;
    text-decoration: none;
  }
  
  .list-item .btn
  {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: -1;
  }
  
  .dropdown-content 
  {
    display: none;
    border-top: 2px solid #fff; 
    position: absolute;
    top: 62px;
    background-color: #4b4b4bd8;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  
@keyframes growDown 
{
    0% 
    {
        transform: scaleY(0);
    }
    80% 
    {
        transform: scaleY(1.1);
    }
    100% 
    {
        transform: scaleY(1);
    }
}
  
.dropdown-content a 
{
  font-size: 15px;
  float: none;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
    
}
  
.dropdown-content a:hover 
{
  color: #028b26;
  transition: transform 250ms ease-in-out;
}
  
  .list-item:hover .dropdown-content 
{
  display: block;
}
  
  
.dropdown-content2 
{
  display: none;
  border-top: 2px solid #ffffff; 
  transform: translate(-10px, 20px);
  position: absolute;
  background-color: #4b4b4bd8;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 62px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
  
.dropdown-content2 a 
{
  font-size: 15px;
  float: none;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
  
.dropdown-content2 a:hover 
{
  color: #028b26;
  transition: transform 250ms ease-in-out;
}
  
.list-item:hover .dropdown-content2 
{
  display: block;
}
  
.menu
{
  display: none;
}
  
.menu-line
{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.navbar2
{
  background-color: #999999;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 310px;
}

.navbar2 a
{
  font-size: 20px;
  color:#fcfcfc;
  text-decoration: none;
}


.navbar2 a:hover
{
  border-bottom: 5px solid #028b26;
}

.nav-list2
{
  list-style-type: none;
}
  
.nav-list2 .list-item2
{
  display: inline-block;
  padding: 20px 10px;
}
  

.informacao
{
 background-color: #fafbfc;
 margin-bottom: 20px;
 animation: fadeIn 500ms ease-in;
}

@keyframes fadeIn 
{  
  from 
  {  
      opacity:0;  
  }  

  to 
  {  
      opacity:1;  
  }  
}

.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}
.column 
{
  background-color: #fafbfc;
  justify-content: center;
  display: inline-block;
  width: 75%;
  position: relative;
  flex-direction: column;
  margin: 0;
}

.titlo
{
  border-bottom: 2px solid #33333371;
  color: #028b26;
  display: flex;
  justify-content: left;
  text-align: left;
  position: relative;
  font-size: 30px;
  width: 100%;
  padding: 20px;
}

.subtitlo
{
  color: #028b26;
  display: flex;
  justify-content: left;
  text-align: center;
  position: relative;
  font-size: 30px;
  width: 100%;
  padding: 20px;
}


li.texto
{
  position: relative;
  color: #505050;
  justify-content:space-between;
  font-size: 15px;
  width: 100%;
  padding: 2px;
  left: 60px
}

.responsaveis
{
  background-color: #fafbfc;
  display: none;
  margin-bottom: 20px;
  animation: fadeIn 500ms ease-in;
}

.row2
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titlo2
{
  border-bottom: 2px solid #33333371;
  color: #028b26;
  display: flex;
  justify-content: left;
  text-align: left;
  position: relative;
  font-size: 30px;
  width: 100%;
  padding: 20px;
}

.column2 
{
  background-color: #fff;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column img
{
  width: 100%;
  height: 300px;
}

.column2 p
{
  color: #028b26;
  text-align: center;
  position: relative;
  display: grid;
  font-size: 25px;
}

.column2 h2
{
  color: #494949;
  text-align: center;
  position: relative;
  display: grid;
}

.redes
{
  background-color: #ddd;
}

.redes p
{
  color: #317e31;
  display: flex;
  justify-content: left;
  padding-top: 2px;
  font-size: 15px;
  justify-content: center;
}

.icons
{
  background-color: #ddd;
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 1px;
  
}

.icons a
{
  color: #4e4e4e;
  text-decoration: none;
  padding: 5px;
}

.icons a:hover
{
  color: #268d37;
  text-decoration: none;
  animation: zoom-in-zoom-out 1s ease-in;
}

footer
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background-color: #2f683e;
  color: white;
  clear: both;
}



@media all and (max-width: 600px) 
{
  .navbar
  {
    flex-direction: column;
  }
  .navbar2 
  {
    width: 100%;
    padding: 0;
  }

  .nav-list
  {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list2 
  {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .nav-list .list-item
  {
    display: block;
    border-top: 1px solid white;
    padding: 10px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
 
  .menu 
  {
    display: block;
    position: absolute;
    right: 10px;
    top: 32px;
  }

  .header 
  {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .logo 
  {
    transform: translate(5px, -2px);
  }

  .header h1 
  {
    font-size: 25px;
    transform: translateY(15px);
  }

  .active 
  {
    display: block;
  }

  .dropdown-content 
  {
    position: relative;
    width: 100%;
    margin: 0px;
    top: 0px;
    display: none;
    min-width: 100vw;
    left: -10px;
    z-index: 1; 
  }

  .dropdown-content a 
  {
    background-color: #fff;
    color: #028b26;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin: 0px;
  }

  .dropdown-content2 
  {
    position: relative;
    width: 100%;
    margin: 0px;
    top: 0px;
    left: -10px;
    display: none;
    min-width: 100vw;
    z-index: 1;
  }

  .dropdown-content2 a 
  {
    background-color: #fff;
    color: #028b26;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin: 0px;
  }

  .btn 
  {
    list-style-type: none;
    width: 100%;
    text-align: center;
  }

  .row 
  {
    width: 100%;
    margin: 0;
  }

  .column 
  {
    display: grid;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
  }

  .column h3 
  {
    font-size: 20px;
  }

  .column ul 
  {
    margin: 0;
    padding: 0;
    width: 80%;
    display: grid;
  }

  .column p 
  {
    font-size: 15px;
    display: block;
    text-align: left;
  }

  .column2 p 
  {
    font-size: 20px;
    padding-top: 15px;
    display: block;
    text-align: center;
  }

  .column2 h2 
  {
    font-size: 20px;
    padding-top: 5px;
    display: block;
    text-align: center;
  }
}