*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body 
{
  min-height: 100vh;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.banner 
{
  background-image: url("imagens/Banner-7.png");
  min-height: 725px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
 
  
}

.text-banner 
{
  position: absolute;
  color: #fff;
  background-color: #030303ce;
  font-size: 65px;
  padding: 10px;
  top: 50%;
  right: 0%;
  transform: translate(0%, -65%);
}

.navbar
{
  position: sticky;
  top:0;
  background-color: #2f683e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  z-index: 200;
  
}

.logo
{
  height: 50px;
}

.header h1
{
  font-size: 35px;
  position: absolute;
  justify-content: space-around;
  display: inline-block;
  align-items: center;
  transform: translateY(10px);
  padding-left:30px;
  
}

.nav-list
{
  list-style-type: none;
}

.nav-list .list-item
{
  display: inline-block;
  padding: 20px 10px;
}

.navbar a
{
  color:#fff;
  text-decoration: none;
}

.menu
{
 display: none;
}

.menu-line
{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.column 
{
  float: left;
  flex: 0 0 30%;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}


.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}

.jogos h1
{
  background-color: #ddd;
  color: #317e31;
  display: flex;
  justify-content: left;
  padding: 10px;
  font-size: 35px;
  justify-content: center;
}

.competicao
{
  color:#fff;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 100%;
}

.data
{
  color:#fff;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container
{
  position: relative;
  display: flex;
  justify-content:center;
  align-items:end;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container p
{
  position: relative;
  display: flex;
  justify-content:center;
  text-align: center;
  color: #fff;
  font-size: 45px;
  width: 33.3333%;
}

.container img
{
  justify-content:center;
  height: 85px; 
}

.oponentes
{
  color:#fff;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.redes
{
  background-color: #ddd;
}

.redes p
{
  color: #317e31;
  display: flex;
  justify-content: left;
  padding: 10px;
  font-size: 25px;
  justify-content: center;
}

.icons
{
  background-color: #ddd;
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  
}

.icons a
{
  color: #4e4e4e;
  text-decoration: none;
  padding: 15px;
}

.icons a:hover
{
  color: #268d37;
  text-decoration: none;
  padding: 15px;
}

footer
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background-color: #2f683e;
  color: white;
  clear: both;
}

@media all and (max-width: 600px)
{

  .text-banner
  {
    font-size: 35px;
  }

  .navbar
  {
    flex-direction: column;
  }

  .nav-list
  {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list .list-item
  {
    display: block;
    border-top: 1px solid white;
    padding: 10px;
  }

  .menu
  {
    display: block;
    position: absolute;
    right: 10px;
    top: 39px;
  }

  .header
  {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .logo
  {
    left: 5px;
  }

  .header h1
  {
    font-size: 25px;
    transform: translateY(25px);
  }

  .active
  {
    display: block;
  }

  .row
  {
    width: 100%;
    margin: 0;
  }
  
  .column 
  { 
    width: 100%;
    flex: 0 0 100%;
  }

  .competicao
  {
    font-size: 18px;
  }

  .container img
  {
    height: 75px;
  }

  .container p
  {
    font-size: 35px;
  }

}




  
