*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family:"Poppins", sans-serif;
}


body
{
 min-height: 100vh;   
 background-color: #e7e7e7;  
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

header 
{
    align-items: center; 
    margin-top: 20px;
    padding-bottom: 10px;
}
.logo-row
{
    display: flex;
    align-items:center;
    padding-left: 275px;
    overflow: hidden;
}

.logo 
{
    width: 100px;
    height: 75px;
}

.header-text p
{   
    display: flex; 
    position:relative;
    top: 5px;
    padding-left: 20px; 
    font-size: 12px;
    margin: 0px;
    color: #030303;
}

.header-text .titlo
{
    padding-left: 20px;
    font-size: 30px;
    margin: 0px;
    color: #1c863f;
    
}

.social
{
    position:relative;
    top: 30px;
    left: 600px;
    padding-left: 20px; 
    font-size: 12px;
    margin: 0px;
    color: #030303; 
}

#navbar 
{
    display: flex; 
    justify-content: center;
    align-items:center ;
    overflow: hidden;
    background-color: #1c863f;
    padding: 0;
    margin: 0;
}

#navbar a
{   
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

#navbar a:hover
{
    background-color: #424242f5; 
}

#navbar a.active 
{
    background-color: #1c863f;
    color: white;
}
 
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content 
{
    padding-top: 60px;
}

.content
{
    padding: 0;
}

.banner
{
    
    width: 100%;
    height: 100%;
}

.centered
{
    font-size: 65px;
    color: #fff;
    padding: 10px;
    background-color: #141313c4;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(5%, -25%);
}

.jogos
{
    font-size: 35px;
    color: #1c863f;
    padding-left: 5.6%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.row2
{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}


.column 
{
    float: left;
    width: 33.33%;
    padding: 10px;
    
}
  
.container
{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;
    align-items: center;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }

  .image1 img
  {
    padding: 5px;
    width:70px;
    height: 60px; 
  }

.container2
{
    display: flex;
    grid-template-columns: 1fr 3fr 4fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;
    align-items: center;
    justify-content: left;
}

.text
{
    font-size: 20px;
}

.text2
{
    font-size: 25px;
}

.text3
{
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.text4
{
    overflow: hidden;
    align-items: normal;
    padding-bottom: 10px;
    padding-left: 100px;
    font-size: 15px;
}

.reveal{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }

footer
{
  text-align: center;
  padding: 3px;
  background-color: #1c863f;
  color: white;
}

@media (max-width: 600px) 
{
    body
    {
        width: 100%;
    }
    
}

